.yatt-wrapper{
  width: 371px;
  height: 317px;
  background: #ff4019;
  font-family: century gothic, arial, sans-serif;
  text-align: center;
  position: relative;
  margin-top: 36px;
}

h3.yatt-title{
  height: 31px;
  background: #463f2f;
  color: #fff;
  font-size: 22px;
  padding-top: 6px;
}

.yatt-element{
  position: relative;
  display: inline-block;
  width: 73px;
  height: 64px;
  margin-right:10px;
  text-align: center;
  margin-left: 10px;
  xfont-variant:small-caps;
  top: 172px;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
}

.yatt-element-value{
  font-size: 48px;
  color: #ff4019;
  margin-top: -6px;
  margin-bottom: -32px;
  line-height: 60px;
}

#yatt-days{
  position: absolute;
  left: 113px;
  top: 54px;
  width: 145px;
  height: 145px;
  background: url(images/yatt-days-back.png) left top no-repeat;
  font-size: 28px;
  margin-left: 0px;
  line-height: 32px;
}
#yatt-days .yatt-element-value{
  display: block;
  font-size: 80px;
  color: #ff4019;
  top: 16px;
  position: relative;
  margin-bottom: -36px;
  line-height: 104px;
}

.yatt-expiry-text{
  padding: 16px;
  font-size: 28px;
  color: #fff;
  margin-top: 24px;
}
